USE [reservmca]
GO
/****** Object:  Table [dbo].[publicidades]    Script Date: 26/06/2025 11:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publicidades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[caminho_imagem] [varchar](255) NOT NULL,
	[ativo] [bit] NULL,
	[ordem_exibicao] [int] NULL,
	[titulo] [varchar](150) NULL,
	[media_type] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[publicidades] ON 

INSERT [dbo].[publicidades] ([id], [caminho_imagem], [ativo], [ordem_exibicao], [titulo], [media_type]) VALUES (21, N'files/banners/publicidade-01.png', 0, 0, N'publicidade_01.png', N'image')
INSERT [dbo].[publicidades] ([id], [caminho_imagem], [ativo], [ordem_exibicao], [titulo], [media_type]) VALUES (22, N'files/banners/publi.jpg', 0, 2, N'publi', N'image')
INSERT [dbo].[publicidades] ([id], [caminho_imagem], [ativo], [ordem_exibicao], [titulo], [media_type]) VALUES (23, N'files/banners/publicidade-04.jpg', 1, 1, N'publicidade_04.jpg', N'image')
SET IDENTITY_INSERT [dbo].[publicidades] OFF
GO
ALTER TABLE [dbo].[publicidades] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[publicidades] ADD  DEFAULT ((0)) FOR [ordem_exibicao]
GO
ALTER TABLE [dbo].[publicidades] ADD  DEFAULT ('image') FOR [media_type]
GO
