USE [reservm]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 17/07/2025 13:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[id] [nvarchar](128) NOT NULL,
	[data] [nvarchar](max) NOT NULL,
	[timestamp] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[sessions] ([id], [data], [timestamp]) VALUES (N'7vhbat12m9vhmnoon6n73kmut7', N'colaborador_logado|b:1;colaborador_email|s:29:"talitacastrofreitas@gmail.com";LAST_ACTIVITY|i:1752768570;', 1752768570)
INSERT [dbo].[sessions] ([id], [data], [timestamp]) VALUES (N'bh6jp7flm7244v006uhlaei2t4', N'colaborador_logado|b:1;colaborador_email|s:29:"talitacastrofreitas@gmail.com";LAST_ACTIVITY|i:1752768630;', 1752768630)
GO
ALTER TABLE [dbo].[sessions] ADD  DEFAULT ((0)) FOR [timestamp]
GO
